/*MENU*/
.nav {
    padding: 10px;
    height: 4.2vw;
    z-index: 999;
    position: fixed;
    width: 100%;
    background-color: rgba(108, 17, 126, 0.027); /* Fondo semi-transparente */
    backdrop-filter: blur(10px); /* Efecto de vidrio (opcional) */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para mejorar la visibilidad */
  }

  .menu, ol, ul {
    display: flex;
    align-items: center;
    justify-content: center;

}

  .menu h5 {
    margin: 0 30px;
    text-transform: uppercase;
    float: left;
    font-weight: 300;
    font-size: clamp(10px, 2.2vw, 24px);
    letter-spacing: 2px;
    position: relative;
    z-index: 999;
    color: #FEFFFF;
  }
.boton{
  width: 8vw;
  min-width: 80px;
  font-size: clamp(10px, 1vw, 20px);
}


  .photo { 
    width: 100%;
    height: 40vw;
    min-height: 450px;
    position: relative;
    background: url('https://images8.alphacoders.com/841/841718.jpg') center;
    background-size: cover;
    overflow: hidden;
  }
  
  .photo-text {
    margin-top: 3rem;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
  }
  
  .overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 200vh;
    top: 0;
    left: 0;
    background: rgba(77, 44, 77, 0.411);
  }
  
  .photo h4 {
    font-size: clamp(20px, 4vw, 70px);
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #ffffff;
    margin: 10px;
    cursor: pointer;
    position: relative;
    z-index: 998;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
  }
  
  .photo p {
    font-size: clamp(15px, 2vw, 50px);
    width: 60%;
    text-align: center;
    letter-spacing: 1.5px;
    color: #ffffff;
    position: relative;
    z-index: 998;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
  }

  .icons__link{
    position: relative;
    z-index: 2;
  }

  .icons__icons{
    font-size: clamp(15px, 3vw, 40px);
    margin: 0.8rem;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
  }

  .fa-linkedin{
    color: rgb(0, 162, 255);
  }
.Logo_img{
  z-index: 3;
  height: 10em;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 0.8rem;
  margin-top: 2vw;
  
}
  /* Resto de tu CSS se mantiene igual */
  