.card_beacon{  
    display: flex;
    height: auto;
    justify-content: space-around;
}
.logo_beacon{
    height: 12vw;
    margin: auto;
    min-height: 70px;
}
.logo_dimen{
    height: 14vw;
    min-height: 100px;
    margin: auto;
}
p{
    max-width: 70%;
    font-size: clamp(12px, 2.5vw, 30px);
}

.cards{
    margin: 40px 10px 10px 10px ;
}

.carta{
    margin-top: 4vw;
    width: 100%;
}

video{
    max-width: 40% !important;
}
