.card_beacon{  
    display: flex;
    height: 350px;
}
.logo_beacon{
    height: 12vw;
    margin: auto;
}
p{
    max-width: 60%;
    font-size: 1.5vw;
}

.cards{
    margin: 40px 10px 10px 10px ;
}

.carta{
    margin-top: 4vw;
    width: 100%;
}
video{
max-width: 50% !important;
max-height: 100% !important;
}

.video{
    display: flex;
}